sasasaq:root {
  --main-color: rgb(99, 148, 40);
  --sub-color: #fcb12a;
}

div {
  width: 500px;
  height: 200px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  transition: all 1s 1, ease-in-out;
}

div:hover img {
  transform: scale(4) rotateX(180deg);
  width: 900px;
  background-color: red;
}

@keyframes moving-logo {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(2) rotate(360deg);
  }
}

img {
  width: 100px;
  animation: moving-logo 0.1s infinite;
}
#info-msg {
  opacity: 0;
  position: absolute;
  justify-content: center;
  align-items: center;

  display: flex;
}

@media screen and (max-width: 300px) {
  div {
    opacity: 0;
  }

  #info-msg {
    opacity: 1;
  }
}
